.BackgroundSystem
{
	background-image:url(webapp/defaultdesktop.png);
}

.qxAboutLogo
{
	background-image:url(startup/logo.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 128px 128px;
	width: 128px;
	height: 128px;	
}

.qxIcon
{
	background-image:url(webapp/ico.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;	
}

.mnu_preferences
{
	background-image:url(webapp/Preferences.png);
}

.plus
{
	background-image: url(webapp/plus.png);
	background-repeat: no-repeat;
	background-position: center center;	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.job_title
{
	font-family: tahoma;
	font-size: 16px;	
	font-weight: bold;
	margin-left: 7px;
	margin-top: 6px;
	color: blue;
	width: 100%;
	height: 100%;
}

.job_num
{
	font-family: tahoma;
	font-size: 12px;	
	margin-top: 6px;
	color: black;
	width: 100%;
	height: 100%;
}

.red
{
	background-color: red
}

.blue
{
	background-color: blue
}

.green
{
	background-color: green
}

.orange
{
	background-color: orange
}

.yellow
{
    background-color: yellow
}

.user
{
	background-image: url(webapp/user.png);
	width: 24px;
	height: 24px;
}

.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 22px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}

.adr
{
	background-image:url(webapp/address_book.png);
}
.ico_filter
{
	background-image: url(webapp/filter.png);
	width: 16px;
	height: 16px;
}